body{ 
    background-color: rgba(141, 199, 54, 0.685);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
*{
    font-family: 'Courier New', Courier, monospace; 
}
h1{
    font-weight: bold;
    color: #222;
    font-size: 4em;

}
input{
    border-radius: 5px;
    border: none;
    padding: 7px 5px;
    font-size: 1em;
    margin-bottom: 15px;
}
button{
    border-radius: 5px;
    background-color: rgb(30, 190, 30);
    border:  rgb(30, 190, 30);
    padding: 0.5em 5em;
    font-size: 1em;
    color: #222;
    font-weight: bold;
}
button:hover{
    background-color: #222;
    color:  rgb(30, 190, 30);
}
